.ProfilePage {
  text-align: left;
  padding: 30px 80px;
}
.TopImg img {
  height: 25px;
}

.ProfileOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 2px 0px;
}

.ProfileOptions .optionLeft {
  font-weight: 500;
  font-size: 32px;
  color: #272727;
}
.ProfileOptions .optionRight {
  font-weight: 500;
  font-size: 22px;
  color: #b00020;
}

.ProfileContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
}

.ProfilePageLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 22%;
  height: 88%;
  background-color: #f5f5f5;
}

.ProfilePageLeft .Head {
  padding: 15px;
}

.ProfilePageLeft .Head h1 {
  text-align: center;
  font-family: Rubik;
  font-weight: 500;
  font-size: 22px;
}

.ProfilePageLeft img {
  width: 100%;
}

.PDetails {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.PDetails .Title {
  width: 55%;
}

.PDetails .Title h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0px;
  line-height: 26.8px;
}

.PDetails .Body {
  width: 45%;
}

.PDetails .Body p {
  font-size: 15px;
  margin: 5px 0px;
  line-height: 26.8px;
}

.ProfilePageRight {
  background: #fcfbf9;
  width: 70%;
  height: 88%;
  background-color: #f5f5f5;
}

.ProfilePageRight .Head {
  border-bottom: 0.4px solid #7c7c7c;
}

.ProfilePageRight .Head h1 {
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  font-size: 22px;
  margin: 15px 25px;
}

.ADetails {
  display: flex;
  justify-content: space-between;
  margin: 0px 25px;
}

.AboutP {
  display: flex;
  width: 45%;
}

.AboutP .Title {
  width: 48%;
}

.AboutP .Title h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0px;
  line-height: 26.8px;
}

.AboutP .Body {
  width: 50%;
}

.AboutP .Body p {
  font-size: 15px;
  margin: 10px 0px;
  margin: 20px 0px;
  line-height: 26.8px;
}

.Hlight {
  color: #5a22b9;
}
