.ForgotPassword {
  display: flex;
  justify-content: space-between;
}
.ForgotPasswordLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height: 100vh;
  padding: 20px;
}

.ForgotPasswordLeft h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 5px 0px;
}

.ForgotPasswordLeft h5 {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0px;
  color: #434242;
}

.ForgotPasswordLeft h6 {
  font-size: 16px;
  font-weight: 500;
  color: #7d7d7d;
  margin: 20px 0px 5px 0px;
}

.LoginLink {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #5a22b9;
}

.ForgotPasswordRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fcfbf9;
  align-items: center;
  width: 60%;
  height: 100vh;
  padding: 20px;
}

.ForgotPasswordRight img {
  height: 280px;
}

.ForgotPasswordRight h2 {
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin: 40px;
  width: 70%;
}

.TopImg img {
  height: 60px;
  position: absolute;
  margin: 20px 60px;
}
