.MailSentPage {
  padding: 20px 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.TopImg img {
  height: 60px;
}

.CenterText {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.CenterText img {
  height: 300px;
}

.CenterText p {
  font-family: "Roboto Slab", serif;
  font-size: 27px;
  margin: 30px;
}
