.LeaveFormPage {
  padding: 30px 80px;
}

.Content {
  width: 70%;
}

.DaySelect {
  display: flex;
}
.DaySelect p {
  width: 50%;
  padding: 10px;
  border: 1px solid black;
}

.BottomOptions {
}
