.Footer {
  background-color: #131552;
  padding: 40px 0px 40px 100px;
  color: white;
}

.Content {
  height: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.ContentLeft {
  width: 20%;
}

.ContentLeft img {
  height: 25px;
}

.ContentRight {
  width: 70%;
  display: flex;
}

.ContentRight .ContentClm {
  text-align: left;
  width: 33%;
  margin-left: 40px;
}

.ContentRight .ContentClm .link {
  text-decoration: none;
  color: white;
}
.ContentRight .ContentClm p {
  font-size: 17px;
  margin-bottom: 20px;
}

.Bottom {
  height: 40%;
  display: flex;
  justify-content: space-between;
}
.BottomLeft {
  width: 40%;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
}
.BottomRight {
  font-size: 22px;
  margin-right: 100px;
}
