.PassPrompt {
  background: #ffffff;
  width: 100%;
}

.Head {
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  margin: 5px 0px;
  text-align: left;
}
.SubHead {
  font-weight: 600;
  font-size: 16px;
  color: #7d7d7d;
  margin: 8px 0px 20px 0px;
  text-align: left;
}

.InputVerify {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.LoginLink {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #5a22b9;
}
