.mail-sent {
  padding: 20px 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;

  &__center-text {
    width: 45%;
    margin: 0 auto;
    text-align: center;
  }

  img {
    height: 300px;
  }

  p {
    font-family: "Roboto Slab", serif;
    font-size: 27px;
    margin: 30px;
  }
}
