.reconnect {
  padding: 20px 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;

  &__center-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    img {
      height: 400px;
      margin-bottom: -50px;
      position: relative;
    }

    .head {
      &-first {
        font-family: "Roboto Slab", serif;
        font-size: 40px;
        font-weight: 500;
      }

      &-second {
        font-family: "Roboto Slab", serif;
        font-size: 20px;
        margin: 15px;
        color: #414141;
      }

      &-third {
        font-size: 15px;
        color: #7d7d7d;
        text-decoration: none;
      }
    }
  }
}
