.ServerDownPage {
  padding: 20px 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.TopImg img {
  height: 60px;
}

.CenterText {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.CenterText img {
  height: 250px;
  margin: 30px;
}

.FirstHead {
  font-family: "Roboto Slab", serif;
  font-size: 27px;
  margin-top: 20px;
}

.SecondHead {
  font-size: 20px;
  margin: 10px;
  color: #414141;
}

.ThirdHead {
  font-size: 15px;
  color: #7d7d7d;
  text-decoration: none;
}
