.footer {
  background-color: #131552;
  padding: 40px 0px 40px 100px;
  color: white;

  &__content {
    height: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    &--left {
      width: 20%;

      img {
        height: 25px;
      }
    }

    &--right {
      width: 70%;
      display: flex;

      .content__column {
        text-align: left;
        width: 33%;
        margin-left: 40px;

        &__link {
          text-decoration: none;
          color: white;
        }

        p {
          font-size: 17px;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__bottom {
    height: 40%;
    display: flex;
    justify-content: space-between;

    &--left {
      width: 40%;
      font-size: 14px;
      text-align: left;
      line-height: 20px;
    }

    &--right {
      font-size: 22px;
      margin-right: 100px;

      span {
        color: red;
      }
    }
  }
}
