.forgot-password {
  @include display-flex(row);

  justify-content: space-between;

  &--left {
    @include display-flex(column);

    justify-content: center;
    align-items: flex-start;
    width: 30%;
    height: 100vh;
    padding: 20px;

    h3 {
      font-size: 28px;
      font-weight: 500;
      margin: 5px 0px;
    }

    h5 {
      font-size: 18px;
      font-weight: 400;
      margin: 10px 0px;
      color: #434242;
    }

    h6 {
      font-size: 16px;
      font-weight: 500;
      color: #7d7d7d;
      margin: 20px 0px 5px 0px;
    }

    .login-link {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      color: #5a22b9;
    }
  }

  &--right {
    @include display-flex(column);

    justify-content: center;
    background: #fcfbf9;
    align-items: center;
    width: 60%;
    height: 100vh;
    padding: 20px;

    img {
      height: 280px;
    }

    h2 {
      font-family: "Merriweather", serif;
      font-size: 32px;
      font-weight: 400;
      margin: 40px;
      width: 70%;
    }
  }
}
