.navbar {
  height: 7vh;
  display: flex;
  justify-content: space-between;

  &__image {
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
      height: 25px;
      margin: 0px 15px;
    }
  }

  &__content {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      display: flex;
      padding: 10px;
      text-decoration: none;
      color: black;

      &:hover {
        color: #5a22b9;
      }
    }
  }
}
