.set-password {
  display: flex;
  height: 100vh;
  justify-content: space-between;

  &--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
  }

  &--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fcfbf9;
    align-items: center;
    width: 60%;
    padding: 20px;

    img {
      height: 280px;
    }

    h2 {
      font-family: "Merriweather", serif;
      font-size: 32px;
      font-weight: 400;
      margin: 40px;
      width: 70%;

      span {
        color: #5a22b9;
      }
    }
  }

  &__prompt {
    background: #ffffff;
    width: 100%;

    h4 {
      font-size: 24px;
      font-weight: normal;
      color: #000000;
      margin: 5px 0px;
      text-align: left;
    }
    p {
      font-weight: 600;
      font-size: 16px;
      color: #7d7d7d;
      margin: 8px 0px 20px 0px;
      text-align: left;
    }

    .verify-input {
      margin-bottom: 25px;
      display: grid;
      grid-template-columns: 50% 50%;

      &__points {
        margin: 5px;
        display: flex;
        align-items: center;

        &-bullet {
          border-radius: 50%;
          background: #e5e5e5;
          height: 8px;
          width: 8px;
          margin: 0px 10px;
        }

        p {
          font-size: 14px;
          color: #a6a6a6;
        }
      }

      .selected {
        .verify-input__points-bullet {
          background: #4e72f1;
        }
        p {
          color: #2e2e2e;
        }
      }
    }

    .login-link {
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      color: #5a22b9;
    }
  }
}
