.LoginQuote {
  width: 35%;
  color: white;
  text-align: left;
  flex-direction: column;
}

.QuoteTitle {
  margin: 25px 0px;
  font-family: Merriweather;
  color: white;
  font-size: 40px;
}
.QuoteSummary {
  margin: 25px 0px;
  font-family: Rubik;
  color: white;
  font-size: 15px;
}

.CheckAvailabilty {
  display: flex;
  align-items: center;
}

.CheckAvailabilty p {
  color: white;
  font-size: 15px;
  margin: 0px 10px;
  cursor: pointer;
}
