.NotFound {
  padding: 20px 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.TopImg img {
  height: 60px;
}

.CenterText {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.CenterText img {
  height: 350px;
  margin-bottom: -50px;
  z-index: -1;
  left: 30px;
  position: relative;
}

.FirstHead {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 500;
}

.SecondHead {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  margin: 20px;
  color: #414141;
}
